nelmio_api_doc:
    documentation:
        info:
            title: MCRM API
            description: API for mcrm.uz
            version: 1.0.0
        components:
            securitySchemes:
                Bearer:
                    type: http
                    scheme: bearer
                    bearerFormat: JWT
        security:
            - Bearer: []
        paths:
            /api/auth/login:
                post:
                    tags:
                        - User
                    summary: Login into the api.
                    requestBody:
                        content:
                            application/json:
                                schema:
                                    type: object
                                    properties:
                                        username:
                                            type: string
                                        password:
                                            type: string
                    responses:
                        "200":
                            description: OK
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            token:
                                                type: string
                                            refresh_token:
                                                type: string
                        "401":
                            description: Invalid credentials
                        "400":
                            description: Invalid JSON.
                    security: []

            /api/auth/refresh-token:
                post:
                    tags:
                        - User
                    summary: Login into the api by refresh token.
                    requestBody:
                        content:
                            application/json:
                                schema:
                                    type: object
                                    properties:
                                        refresh_token:
                                            type: string
                    responses:
                        "200":
                            description: OK
                            content:
                                application/json:
                                    schema:
                                        type: object
                                        properties:
                                            token:
                                                type: string
                                            refresh_token:
                                                type: string
                        "401":
                            description: An authentication exception occurred.
                    security: []

    areas:
        path_patterns:
            - ^/api
